/* General Styling */
body {
    font-family: 'Inter', sans-serif;
    background-color: #F5F5F5; /* Light Gray */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header Styling */
header {
    margin-top: 20px;
}

h1 {
    font-size: 48px; /* Larger size for prominence */
    font-weight: 700; /* Bold to make it stand out */
    color: #2A4D69; /* Oxford Blue */
    text-transform: lowercase; /* Make the heading lowercase */
    text-align: center; /* Center the heading */
    margin-bottom: 20px; /* Add space below the heading */
}

/* Navigation Styling */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    height: 60px; /* Set a fixed height for uniformity */
}

nav ul li a {
    text-decoration: none;
    color: #2A4D69; /* Same as background for hidden link text */
    background-color: #F5F5F5; /* Match background initially */
    padding: 0 24px;
    font-size: 18px;
    transition: background-color 0.5s ease, transform 0.5s ease;
    height: 100%; /* Full height for uniformity */
    width: 400px; /* Set a fixed width for uniformity */
    
    display: flex; /* Flexbox to center text inside link container */
    justify-content: left;
    align-items: center;
}

nav ul li a:hover {
    background-color: #2A4D69; /* Change to blue on hover (Oxford Blue) */
    color: #fff; /* White text on hover */
}

/* Footer Styling */
footer {
    margin-top: auto; /* Pushes footer to the bottom */
    padding: 20px;
}

footer p {
    color: #888888; /* Neutral Gray Text */
}

/* Responsive Design */
@media (max-width: 600px) {
   nav ul li a {
       font-size: 16px;
       padding: 10px 20px; /* Adjust padding for smaller screens */
       width: auto; /* Ensure links don't overflow on mobile screens */
       text-align: center; 
       display: block; 
       margin-bottom: 15px;
   }
}